<h1>Welcome to Battleships!</h1>

<% if @player %>
    <table>
        <tr>
            <td></td>    
            <% [*'A'..'J'].each do |col| %>
                <td><%= col %></td>         
            <% end %>
        </tr>

        <% [*1..10].each do |n| %>  
            <tr>
                <th><%= n %></th>
                <% [*'A'..'J'].each do |l| %>
                    <% joined = l+n.to_s %>
                    <td id='<% joined %>'><%= joined %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% else %>
    <form action='/new_game'>
        <input type="text" name="name">
        <input type="submit" name="submit" value="Submit">
    </form>
<% end %>